@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1920px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}